@using Project_Work_Libreria.Models.ModelForViews;
@model PurchaseData_Book


<div class="container login">
    <div class="border borders rounded-5 mt-5">
         <div class="row">

            <div class="col-sm-12 col-md-6  m-auto">


                <div class="libro">
                    <span></span>
                    <img src="@Model.Book.ImgSource" alt="@Model.Book.Title" />
                </div>


            </div>

            <div id="border" class="col-lg-6 col-md-8 col-sm-6 m-auto my-3 ps-5">
                <h1 class="mb-3">Riepilogo acquisto</h1>
                <div class=" p-3">
                  <form asp-controller="PurchaseData" asp-action="Create" method="post" asp-route-id="@Model.Book.Id" class="mt-2  mb-2 py-3">
                    @Html.AntiForgeryToken()
            
              

                    <div class="mb-3">
                        <label asp-for="PurchaseData.Quantity" class="form-label">Quantità</label>
                        <input asp-for="PurchaseData.Quantity" type="number" class="form-control p-libri " style="width:270px" required>
                        <span asp-validation-for="PurchaseData.Quantity" class="text-danger"></span>
                    </div>

                        <h3>
                            Titolo:
                        </h3>
                        <p>@Model.Book.Title</p>

                        <h3>
                            Autore:
                        </h3>
                        <p>@Model.Book.Author</p>
                        <h3>
                            Prezzo:
                        </h3>
                        <p> @Model.Book.Price.ToString("n2")</p>

                        @User


                        <button type="submit" class="btn purchase px-0 btn-n ">Acquista</button>
                </form>
                </div>
            </div>
            
            
          </div>
    </div>
</div>