@model List<Book_ListBookCategories>
@using Project_Work_Libreria.Database;

@using Project_Work_Libreria.Models.ModelForViews;
@{
    int counter = 0;
    int SupplierCout = 0;
    List<Supplier> suppliers = new List<Supplier>();
    using(BookShopContext db = new BookShopContext())
    {
        foreach(Supplier supplier in db.Supplier)
        {
            suppliers.Add(supplier);
        }
    }
}

<input class="d-none"id="book-counter" value="@Model.Count"></input>
<input class="d-none" id="supplier-counter" value="@suppliers.Count"></input>
<div class="container lista mt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-white philosopher">Lista degli articoli</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 tabella">

            <table class="table table-striped table-light">
                <thead class="">
                    <tr>
                        <th class="col indici philosopher" scope="col">id</th>
                        <th class="col indici philosopher" scope="col">Immagine</th>
                        <th class="col indici philosopher" scope="col">Titolo</th>
                        <th class="col indici philosopher disappear-on-media" scope="col">Autore</th>
                        <th class="col indici philosopher disappear-on-media" scope="col">Categoria</th>
              
                        <th class="col indici philosopher disappear-on-media" scope="col">Prezzo</th>
                        <th class="col indici philosopher" scope="col">Copie disponibili</th>
                        <th class="col indici philosopher" scope="col">Stato Magazzino</th>
                        <th class="col indici philosopher" scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book_ListBookCategories dataModel in Model)
                    {
                        ++counter;
                        <tr>
                            <th scope="row">@dataModel.Book.Id</th>
                            <td><img class="img-fluid img_square" width="100" height="100" src="@dataModel.Book.ImgSource" alt="Immagine @dataModel.Book.Title"></td>
                            <td>@dataModel.Book.Title</td>
                            <td class="disappear-on-media">@dataModel.Book.Author</td>
                            <td class="disappear-on-media">@dataModel.Book.Category.Name</td>

                            <td class="disappear-on-media">@dataModel.Book.Price.ToString("n2") €</td>
                            <td>@dataModel.Book.AvailableCopies</td>
                            <td>

                              
                                
                                
                           
                                @if (dataModel.Book.AvailableCopies <= 10)
                                {

                                    <div class="mt-3 " style="font-size:40px">
                                        <i class="fa-solid fa-skull-crossbones fa-beat " style="color: #f21c1c;"></i>
                                    </div>

                                }
                                else if (dataModel.Book.AvailableCopies <= 30)
                                {
                                    <div class="mt-3" style=" font-size:40px">
                                        <i class="fa-solid fa-triangle-exclamation fa-shake " style="color: #f9b115;"></i>
                                    </div>

                                }
                                else if (dataModel.Book.AvailableCopies > 30)
                                {
                                    <div class="mt-3" style=" font-size:40px">
                                        <i class="fa-solid fa-circle-check " style="color: #51df2a;"></i>
                                    </div>
                                }
                            </td>

                            <!------------------------------------------------ AZIONI -------------------------------------------------->
                            <td>
                                <!--MODIFICA-->
                                <div>
                                    <a href="@Url.Action("Update", "Book", new {id = dataModel.Book.Id})">
                                        <button type="button" class="buttons bg-warning edit"><span class="material-icons-outlined">edit</span></button>
                                        </a>
                                </div>
        

                                <!--ELIMINA-->
                                <div>
                                    <button type="button" class="buttons bg-danger delete" data-bs-toggle="modal" data-bs-target="#@counter-exampleModal">
                                        <span class="material-icons-outlined">delete</span>
                                    </button>
                                </div>

                                <!--DETTAGLI-->
                                  <div>
                                    <a href="@Url.Action("Details", "Book", new {id = dataModel.Book.Id})">
                                        <button type="button" class="buttons bg-info dettagli mt-2"><span class="material-icons-outlined"> info</span></button>
                                    </a>
                               </div>

                            
                                <!-- BOTTONE PER L'ACUISTO DAL FORNITORE CON MODALE -->
                                <button type="button" class="buttons buy bg-success" data-bs-toggle="modal" data-bs-target="#PurchaseModal[@counter]">
                                    <span class="material-icons-outlined">
                                        shopping_cart
                                    </span>
                                </button>


                               


                            </td>
                        </tr>
                        <!-------------------------------------------- MODALE PER LA DELETE ----------------------------------------->
                        <div class="modal fade" id="@counter-exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content borders">
                                    <div class="modal-header ">
                                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Elimina questo libro</h1>
                                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-white">


                                        Vuoi eliminare il libro "<strong>@dataModel.Book.Title</strong>"?
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-controller="Book" asp-action="Delete" asp-route-id="@dataModel.Book.Id" method="post" class="mt-3">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-outline-white btn-sm mt-2 text-white ">
                                                Conferma
                                            </button>
                                        </form>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- MODALE ACQUISTO -->
                        <div class="modal fade" id="PurchaseModal[@counter]" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content borders">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Conferma acquisto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <input type="number" id="@counter-quantity-input" class="form-control" value="1" placeholder="Scegli la quantità" aria-label="Scegli la quantità" aria-describedby="basic-addon2">

                                        </div>
                                       
                                        <input class="d-none" id="@counter-hidden-supplierPrice" value="@dataModel.Book.SupplierPrice"></input>
                                        <strong class="text-white">Fornitore:</strong>
                                        <select id="@counter-supplier-input" rows="10" class="d-block w-100">
                                           
                                            <option  value="">Fornitore</option>
                                            @foreach (Supplier supplier in suppliers)
                                            {

                                                <option value="@supplier.Id">
                                                   @supplier.Name
                                                </option>
                                               
                                            }
                                        </select>


                                    </div>
                                    <div class="modal-footer">

                                        <!--BOTTONE CON FUNZIONE CHE SI RICOLLEGA ALLA CHIAMATA API-->

                                        <button type="submit" onclick="BuyFunction(event)" id="@counter" value="@dataModel.Book.Id" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ConfirmModal"
                                                class="btn btn-outline-white btn-sm mt-2 text-white">
                                            Conferma
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    }
                    <tr>
                        <td></td>
                        <td>
                            <a href="@Url.Action("Create", "Book")">
                                <img src="~/img/addBook.png" width="100" height="100" alt="Add new pizza button" />
                            </a>
                        </td>
                        <td class="align-middle"> Aggiungi un libro</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class ="disappear-on-media"></td>
                        <td class="disappear-on-media"></td>
                        <td class="disappear-on-media"></td>
                    
                    
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts{
    console.log(window)
        let inputSupplierId;


         function BuyFunction(event){
         
 
        let supplierIdSelect = document.getElementById(event.target.id + `-supplier-input`);

        inputSupplierId = supplierIdSelect.options[supplierIdSelect.selectedIndex].value;

        let supplierPrice = document.getElementById(event.target.id + `-hidden-supplierPrice`).value;

        let inputQuantity = document.getElementById(event.target.id + `-quantity-input`).value;

        console.log(inputSupplierId);

        axios.post('https://localhost:7093/api/AdminPurchaseDataApi/Create',{
        purchaseDate: new Date(),
        quantity: inputQuantity,
        purchasedBookId: event.target.value,
        supplierId: inputSupplierId,
        purchasePrice: inputQuantity*supplierPrice

        }


        )
        .then(response => {
window.location.reload();
console.log(response.data);
})
.catch(error => {
console.error(error.response.data);
})

 window.reload();

 }




}