@model Book


<div class="container  mt-5 rounded-5 border borders ">

    <div class="row">
        <div class="col-6 ">
            <div class="d-flex  ">
                <h1 class="mt-3 mb-3">Dettagli del Libro</h1>
            </div>
            <div class="mb-4">
                <img class="rounded-4" src="@Model.ImgSource" width="280" alt="Immagine @Model.Title">
            </div>
            <h3>
                Nome libro:
            </h3>

            <p>  @Model.Title</p>
            <h3>
                Descrizione:
            </h3>

            <p>  @Model.Description</p>

            <p>
                <strong>Categoria:</strong>
                @if (Model.Category != null)
                {
                    @Model.Category.Name
                }
                else
                {
                    <span>Nessuna categoria associata</span>
                }
            </p>
        </div>
        <div class="col-6">
            <h3>Autore:</h3>
            <br>

            <h3>Editore: </h3>
            <br>

            <h3>In commercio dal: </h3>
            <br>

            <h3>Pagine: </h3>
            <br>

            <h3>IBSN: </h3>
            <br>
            
        </div>
    </div>

</div>