@model Book
<style>
   

  
</style>
       <h1 class="mt-3 mb-3 ms-5 ps-5 mt-5">Dettagli del Libro</h1>

<div class="container  ">
    <div class="mt-5 rounded-5 border borders p-3">
    <div class="row">
        <div class="col-6 ">
            <div class="d-flex  align-content-md-center">
            </div>
            <div class="mb-4">
                <div class="libro">
                    <span></span>
                    <img src="@Model.ImgSource" alt="@Model.Title" />
                </div>
            </div>
            <div class="ms-5 ps-4 text-center">
          
            </div>
        </div>
            <div id="border" class="col-lg-6 col-md-12 text-center text-lg-start ">
                <div >
                    <div  class="mt-4 ms-1" >
                         <h3>
                           Autore:
                        </h3>
                        <p>  @Model.Author</p>
                        <h3>
                            Descrizione:
                        </h3>
                        <p>  @Model.Description</p>

                        <h3>Prezzo: </h3>
                        <p>@Model.Price.ToString("N2") &euro;</p>

                        <h4>
                            Nome libro:
                        </h4>

                        <p>  @Model.Title</p>




                        <p>
                            <strong>Categoria:</strong>
                            @if (Model.Category != null)
                            {
                                @Model.Category.Name
                            }
                            else
                            {
                                <span>Nessuna categoria associata</span>
                            }
                        </p>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>