@model List<Book_ListBookCategories>
@using Project_Work_Libreria.Models.ModelForViews;

<div class="main">
    <h1 class="text-center mb-0 bianco">La tua libreria</h1>
    

    <div class="container mt-5 mb-5">
        <div class="row">
        
            @foreach(Book_ListBookCategories modelForView in Model){

                <div class="container-carta" >
                    <div class="carta col-4 rounded-5" style="background-image:url(@modelForView.Book.ImgSource)">
                        <div class="avanti"></div>
                        <div class="dietro border borders">
                            <h1 class="px-3">@modelForView.Book.Title</h1>
                            <p class="px-3">
                            @modelForView.Book.Description
                            </p>
                            <div class="row bottoni">
                                <div class="col-4">
                                    <a href="@Url.Action("Details", "Book", new {id = modelForView.Book.Id})">
                                    <button type="button" class="btn btn-secondary btn-sm dettagli ">Dettagli</button>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <form asp-controller="PurchaseData" asp-action="Create" asp-route-id="@modelForView.Book.Id" method="get" class="mt-3">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-secondary btn-sm dettagli">
                                            Acquista
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>

</div>
