@model List<Book>
@using Project_Work_Libreria.Database;
@using Project_Work_Libreria.Models.ModelForViews;

@{
    List<Book> Distopico = Model.Where(b => b.BookCategoryId == 2).ToList();
    List<Book> Romanzi = Model.Where(b => b.BookCategoryId == 1).ToList();
    List<Book>[] arrayLibriPerCategoria = {Distopico, Romanzi};

}

<div class="main">
    <h1 class="text-center mb-0 mt-3 bianco">La tua libreria</h1>
      

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">

            @for(int j = 0; j< arrayLibriPerCategoria.Length; j++)
            {



                List<Book> listaBook = arrayLibriPerCategoria[j];
                BookCategory bookCategory = new BookCategory();
                bookCategory  = listaBook[j].Category;

                <h1>@bookCategory.Name</h1>
                foreach(Book book in listaBook)
                {   
                    
                    <div class="card col-3 mt-3 g-3 rounded-3 shadow borders">
                        <img src="@book.ImgSource" class="mt-3 mx-1 rounded-3" />
                        <h1 class="text-center mt-2">@book.Title</h1>
                        <p class="text-center">@book.Description</p>



                        <div class="text-center mb-3 d-flex justify-content-around">

                            <div class="mt-auto">


                                <a href="@Url.Action("Details", "Book", new {id = book.Id})">
                                    <button type="button" class="btn btn-secondary btn-sm dettagli btn-warning">Dettagli</button>
                                </a>
                            </div>

                            <div class="mt-auto">
                                <form asp-controller="PurchaseData" asp-action="Create" asp-route-id="@book.Id" method="get" class="mt-3">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-secondary btn-sm dettagli btn-success">
                                        Acquista
                                    </button>
                                </form>
                            </div>


                        </div>

                    </div>
                }
            }
            
              


              

            



        </div>
    </div>
</div>

