@model List<Book_ListBookCategories>
@using Project_Work_Libreria.Models.ModelForViews;

<div class="main">
    <h1 class="text-center mt-4">La tua libreria</h1>
    

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4">
            @foreach(Book_ListBookCategories modelForView in Model){
            <div class="card shadow">
                <img src="@modelForView.Book.ImgSource" class="card-img-top" alt="ladra di libri">
                <div class="card-body">
                    <h5 class="card-title">@modelForView.Book.Title</h5>
        
                </div>

                <ul class="list-group list-group-flush">
                    <p class="ps-2 pe-2 pt-2">
                      @modelForView.Book.Description
                    </p>
                </ul>
                        <div class="card-body">
                            <h3>@modelForView.Book.Category.Name</h3>

                        </div>
                <div class="card-body d-flex justify-content-evenly">
                  

                     <a href="@Url.Action("Update", "Book", new {id = modelForView.Book.Id})" class="btn btn-outline-warning mt-3 " role="button">Update</a>

                    <a href="@Url.Action("Details", "Book", new {id = modelForView.Book.Id})" class="btn btn-outline-warning mt-3 " role="button">Details</a>

                    

                        @* modificare pure ma mantenere il form!!!*@
                      


                            <!-- BOTTONE ELEIMINA CON MODALE -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <span class="material-icons-outlined">delete</span>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Elimina questo libro</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">


                                            Vuoi eliminare il libro "<strong>@modelForView.Book.Title</strong>"?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-controller="Book" asp-action="Delete" asp-route-id="@modelForView.Book.Id" method="post" class="mt-3">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn btn-outline-danger btn-sm mt-2">
                                                    Conferma
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-group list-group-flush">
                            
                            <div class="modal-footer">
                                <form asp-controller="PurchaseData" asp-action="Create" asp-route-id="@modelForView.Book.Id"  method="get" class="mt-3">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-danger btn-sm mt-2">
                                        Conferma
                                    </button>
                                </form>
                            </div>
                              
                            </ul>
                </div>
            </div>
            }
        </div>
     </div>
</div>

