@model List<Book_ListBookCategories>
@using Project_Work_Libreria.Models.ModelForViews;

<div class="main">
    <h1 class="text-center mt-4">La tua libreria</h1>
    

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4">
            @foreach(Book_ListBookCategories modelForView in Model){
            <div class="card shadow">
                <img src="@modelForView.Book.ImgSource" class="card-img-top" alt="ladra di libri">
                <div class="card-body">
                    <h5 class="card-title">@modelForView.Book.Title</h5>
        
                </div>
                <ul class="list-group list-group-flush">
                    <p class="ps-2 pe-2 pt-2">
                      @modelForView.Book.Description
                    </p>
                </ul>
                        <div class="card-body">
                            <h3>@modelForView.Book.Category.Name</h3>

                        </div>
                <div class="card-body d-flex justify-content-evenly">
                   @* <span class="material-icons-outlined bg-info rounded">
                         <a href="@Url.Action("Update", "Book", new { id = modelForView.Book.Id})> edit</a>

                    </span>*@

                     <a href="@Url.Action("Update", "Book", new {id = modelForView.Book.Id})" class="btn btn-outline-warning mt-3 " role="button">Update</a>


                     <a href="@Url.Action("Delete", "Book", new {id = modelForView.Book.Id})" class="btn btn-outline-warning mt-3 " role="button">Delete</a>
                    
                </div>
            </div>
            }
        </div>
     </div>
</div>