@using Project_Work_Libreria.Models.ModelForViews;
@model Book_ListBookCategories


<div class="container">
    
    <div class="mt-5"> <h1 class="mb-3  bianco philosopher">Modifica libro</h1> </div>
    
            <form asp-controller="Book" asp-action="Update" method="post" asp-route-id="@Model.Book.Id"  class="mt-2 py-3">
                <div class="row login border borders rounded-5 bianco px-0 update">
                    <div class="col-lg-6 col-md-8 col-sm-6  p-4">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                        <label asp-for="Book.Title" class="form-label bianco fw-bold fs-5 philosopher">Titolo</label>
                            <input asp-for="Book.Title" type="text" class="form-control" required>
                            <span asp-validation-for="Book.Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                        <label asp-for="Book.Author" class="form-label bianco fw-bold fs-5 philosopher">Autore</label>
                            <input asp-for="Book.Author" type="text" class="form-control" required>
                            <span asp-validation-for="Book.Author" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <strong class="philosopher">Categorie:</strong>
                            <select asp-for="Book.BookCategoryId" rows="10" class="d-block w-100">
                                <option value=""></option>
                                @foreach (BookCategory category in Model.BookCategories)
                                {
                                    @if (Model.Book.BookCategoryId == category.Id)
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div> 

                        <div class="mb-3">
                            <label asp-for="Book.ImgSource" class="form-label bianco fw-bold fs-5 philosopher">URL Immagine</label>
                            <input asp-for="Book.ImgSource" type="text" class="form-control" required>
                            <span asp-validation-for="Book.ImgSource" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-6 p-4">
                        <div class="mb-3">
                            <label asp-for="Book.Description" class="form-label bianco fw-bold fs-5 philosopher">Descrizione</label>
                            <textarea asp-for="Book.Description" rows="10" class="form-control"></textarea>
                            <span asp-validation-for="Book.Description" class="text-danger"></span>
                        </div>

                        <div class="row">

                            <div class="col-6 mb-3 col-6">
                                <label asp-for="Book.Price" class="form-label bianco fw-bold fs-5 philosopher">Prezzo</label>
                                <input asp-for="Book.Price" type="text" class="form-control" required>
                                <span asp-validation-for="Book.Price" class="text-danger"></span>
                            </div>

                            <div class="col-6 mb-3 col-6>
                                <label asp-for="Book.AvailableCopies" class="form-label bianco fw-bold fs-5 philosopher">Copie disponibili</label>
                                <input asp-for="Book.AvailableCopies" type="text" class="form-control" required>
                                <span asp-validation-for="Book.AvailableCopies" class="text-danger"></span>
                            </div>
                        </div>

                        
                        @*   <button type="submit" class="btn btn-n">Salva</button>*@
                        <div class="col-6 text-center">

                            <div class="button">
                                <div class="button__line"></div>
                                <div class="button__line"></div>
                                <button type="submit"><span class="button__text philosopher">Salva</span></button>
                                <div class="button__drow1"></div>
                                <div class="button__drow2"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>    
</div>